* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clrPrimary: hsl(0, 95%, 62%); /* Imperial Red */
  /* --clrSecondary: ; TODO */
  --clrBg: hsl(240, 11%, 7%); /* Night */
  --clrBgLight: hsl(240, 6%, 13%); /* Raisin Black */
  --clrHeading: hsl(0, 0%, 100%); /* White */
  --clrText: hsl(240, 9%, 91%); /* Offwhite */
  --clrDetail: hsl(0, 0%, 67%); /* Silver */
  --clrScroll: hsl(240, 3%, 19%);

  --siteWidth: 2560px;
  --sitePadding: 4rem;
  --sidebarWidth: 38rem;
}
html {
  font-size: 62.5%;
  background: var(--clrBg);
}
body {
  font-family: "Geist Sans", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  color: var(--clrText);
  background: var(--clrBg);
  overflow-x: hidden;
}
body:has(#hero) {
  background:
    url(/assets/bg.webp) no-repeat,
    var(--clrBg);
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  height: 30rem;
  padding: 2rem var(--sitePadding) 2rem calc(var(--sidebarWidth) + var(--sitePadding));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  /* Re-enables ability to click on header to deselect selection elsewhere on page */
}
.header-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 53px;
  background-image: url(/assets/header-divider.webp);
  background-repeat: repeat-x;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: var(--siteWidth);
  padding: 4rem var(--sitePadding) 4rem calc(var(--sidebarWidth) + var(--sitePadding));
}
/**/
/* DEFAULTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist Mono";
  color: var(--clrHeading);
  letter-spacing: -0.03em;
}
h2 {
  margin-bottom: 2rem;
  font-size: 4rem;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--clrText);
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button svg {
  height: 1em;
}
ul {
  list-style: none;
}
/**/
/* HELPERS */
.link {
  color: var(--clrPrimary);
}
.link:hover {
  text-decoration: underline;
}
.noselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-secondary {
  background-color: hsl(240, 4%, 20%); /*Jet*/
  transition: background-color ease 0.2s;
}
.btn-secondary:hover {
  background-color: hsl(240, 2%, 32%);
}
#header-webdev {
  background-image: url(/assets/header-web.webp);
}
#header-gamedev {
  background-image: url(/assets/bg.webp);
}
#header-ue-terminal {
  background-image: url(/assets/gamedev/unreal-engine/terminal/terminal_2.webp);
}
#page-title {
  font-size: 10rem;
  color: var(--clrText);
  /* mix-blend-mode: color-burn; */
}
.page-title-text {
  padding: 0 0.1em;
  color: var(--clrHeading);
  background: var(--clrPrimary);
}
/* .blink-thing {
  animation: blink 1s steps(1, start) infinite;
} TODO: Idk if I want this animated */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.detail {
  color: var(--clrDetail);
}
.view-all {
  margin-left: 0.5em;
  font-size: 0.5em;
  font-weight: 200;
  letter-spacing: -0.08em;
  color: var(--clrDetail);
  transition: color ease 0.2s;
}
.view-all:hover {
  color: var(--clrPrimary);
  text-decoration: underline;
}
.view-all svg {
  width: 0.6em;
  height: 0.6em;
  vertical-align: text-top;
}
.view-all:not(:hover) svg {
  opacity: 0;
}
.grid-6x {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1rem;
}
.grid-2-1x {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  gap: 2rem;
}
.grid-1-2x {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: 2rem;
}
.float-left {
  float: left;
  max-width: 30%;
  width: 100%;
  margin-right: 2rem;
}
.float-right {
  float: right;
  max-width: 30%;
  width: 100%;
  margin-right: 2rem;
}
.project-preview {
  position: relative;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all ease 0.2s;
  border-radius: 0.6rem;
  border: 0.1rem solid transparent;
}
.project-preview:hover,
.project-preview:has(:focus-visible) {
  border-color: var(--clrPrimary);
}
.project-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  text-shadow:
    0 0 0.1rem var(--clrBg),
    0 0 0.5rem var(--clrBg),
    0 0 1.5rem var(--clrBg);
}
.project-title {
  font-weight: 700;
}
.project-tags {
  font-size: 0.7em;
}
.project-github {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0.6;
  transition: opacity 0.2s ease;
  z-index: 1;
}
.project-github:hover {
  opacity: 1;
}
.project-github svg {
  width: 3rem;
  height: 3rem;
}
/**/
/* NAV */
nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: var(--sidebarWidth);
  padding: 2rem 4rem;
  background: var(--clrBgLight);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: var(--clrScroll) var(--clrBgLight);
  z-index: 9999;
}
#author {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
#author-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  padding: 2rem;
  color: var(--clrPrimary);
  background: var(--clrBg);
  border-radius: 999rem;
}
#author-info span {
  display: block;
}
#author-name {
  font-family: "Barlow Condensed";
  font-size: 4rem;
  font-weight: 500;
  color: var(--clrHeading);
}
#tagline {
  color: var(--clrDetail);
}
#contact {
  display: flex;
  justify-content: space-between;
}
#contact li:not(:last-child) {
  margin-bottom: 0.5rem;
}
#contact ul svg {
  width: 1em;
  height: 1em;
  margin-right: 1rem;
  vertical-align: middle;
}
#bio p:not(:last-child) {
  margin-bottom: 1em;
}
#nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#nav-links a {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.6rem;
  transition: all 0.2s ease;
}
#nav-links .active {
  color: var(--clrDetail);
  background: var(--clrBg);
}
#nav-links a:not(.active):hover {
  color: var(--clrBg);
  background: var(--clrPrimary);
}
#nav-links svg {
  height: 1em;
}
#socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  margin-top: auto;
}
#socials li {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease;
}
#socials:has(li:hover) li:not(:hover) {
  opacity: 0.6;
}
#socials svg {
  display: block;
  width: 1em;
  height: 1em;
}
/**/
/* GALLERY & LIGHTBOX */
.gallery img {
  cursor: pointer;
  border-radius: 0.6rem;
}
.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  background: none;
  outline: none;
  overflow: hidden;
  z-index: 99999;
}
.lightbox:-internal-dialog-in-top-layer {
  max-width: 100% !important;
  max-height: 100% !important;
}
.lightbox::backdrop {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.5rem);
}
.lightbox img {
  max-width: 100%;
  max-height: 100%;
}
.lightbox-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  inset: 0;
  align-items: center;
  pointer-events: none;
}
.lightbox-arrows button {
  height: 100%;
  padding: 0;
  color: var(--clrText);
  background: none;
  opacity: 0.6;
  outline: none;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.lightbox-arrows button:not(:disabled):hover,
.lightbox-arrows button:not(:disabled):focus-visible {
  background: hsla(from var(--clrBg) h s l / 0.3);
  opacity: 1;
}
.lightbox-arrows button:disabled {
  pointer-events: none;
  cursor: auto;
  color: gray;
  opacity: 0.2;
}
.lightbox-arrows svg {
  width: 8rem;
  height: 8rem;
  filter: drop-shadow(0 0 1rem var(--clrBg)) drop-shadow(0 0 1rem var(--clrBg));
}
.lightbox-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  color: var(--clrText);
  background: none;
  transition: all 0.2s ease;
  opacity: 0.6;
  outline: none;
  z-index: 1;
}
.lightbox-close svg {
  width: 8rem;
  height: 8rem;
}
.lightbox-close:hover,
.lightbox-close:focus-visible {
  color: var(--clrText);
  opacity: 1;
}
/* HOMEPAGE */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero h1 {
  margin-bottom: 2rem;
  font-size: 20rem;
  color: var(--clrText);
  border-bottom: 1rem solid var(--clrPrimary);
  /* mix-blend-mode: color-burn; */
}
#hero-socials {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
#hero-socials a {
  display: block;
  opacity: 0.6;
  /* mix-blend-mode: color-burn; */
  transition: all 0.2s ease;
}
#hero-socials a:hover {
  opacity: 1;
  transform: scale(1.1);
  /* mix-blend-mode: normal; */
}
#hero-socials svg {
  height: 2em;
}
/* PROJECT PAGE */
.p-page-meta > *:not(:last-child) {
  margin-bottom: 1em;
}
section p:not(:last-child) {
  margin-bottom: 1em;
}
