/* BARLOW CONDENSED
Black: 900
ExtraBold: 800
Bold: 700
SemiBold: 600
Medium: 500
Regular: 400
Light: 300
ExtraLight: 200
Thin: 100 
*/

/* BARLOW CONDENSED REGULAR */
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* BARLOW CONDENSED THIN */
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* BARLOW CONDENSED EXTRALIGHT */
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* BARLOW CONDENSED LIGHT */
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* BARLOW CONDENSED MEDIUM */
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* BARLOW CONDENSED SEMIBOLD */
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* BARLOW CONDENSED BOLD */
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* BARLOW CONDENSED EXTRABOLD */
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* BARLOW CONDENSED BLACK */
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(./barlow-condensed/BarlowCondensed-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* GEIST MONO
UltraBlack: 900
Black: 800
Bold: 700
SemiBold: 600
Medium: 500
Regular: 400
Light: 300
UltraLight: 200
Thin: 100 
*/

/* GEIST SANS REGULAR */
@font-face {
  font-family: "Geist Sans";
  src: url(./geist-sans/Geist-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* GEIST SANS THIN */
@font-face {
  font-family: "Geist Sans";
  src: url(./geist-sans/Geist-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}

/* GEIST SANS EXTRALIGHT */
@font-face {
  font-family: "Geist Sans";
  src: url(./geist-sans/Geist-ExtraLight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}

/* GEIST SANS LIGHT */
@font-face {
  font-family: "Geist Sans";
  src: url(./geist-sans/Geist-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* GEIST SANS MEDIUM */
@font-face {
  font-family: "Geist Sans";
  src: url(./geist-sans/Geist-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* GEIST SANS SEMIBOLD */
@font-face {
  font-family: "Geist Sans";
  src: url(./geist-sans/Geist-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* GEIST SANS BOLD */
@font-face {
  font-family: "Geist Sans";
  src: url(./geist-sans/Geist-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* GEIST SANS EXTRABOLD */
@font-face {
  font-family: "Geist Sans";
  src: url(./geist-sans/Geist-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* GEIST SANS BLACK */
@font-face {
  font-family: "Geist Sans";
  src: url(./geist-sans/Geist-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* GEIST MONO
UltraBlack: 900
Black: 800
Bold: 700
SemiBold: 600
Medium: 500
Regular: 400
Light: 300
UltraLight: 200
Thin: 100 
*/

/* GEIST MONO REGULAR */
@font-face {
  font-family: "Geist Mono";
  src: url(./geist-mono/GeistMono-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* GEIST MONO THIN */
@font-face {
  font-family: "Geist Mono";
  src: url(./geist-mono/GeistMono-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}

/* GEIST MONO ULTRALIGHT */
@font-face {
  font-family: "Geist Mono";
  src: url(./geist-mono/GeistMono-UltraLight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}

/* GEIST MONO LIGHT */
@font-face {
  font-family: "Geist Mono";
  src: url(./geist-mono/GeistMono-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* GEIST MONO MEDIUM */
@font-face {
  font-family: "Geist Mono";
  src: url(./geist-mono/GeistMono-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* GEIST MONO SEMIBOLD */
@font-face {
  font-family: "Geist Mono";
  src: url(./geist-mono/GeistMono-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* GEIST MONO BOLD */
@font-face {
  font-family: "Geist Mono";
  src: url(./geist-mono/GeistMono-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* GEIST MONO BLACK */
@font-face {
  font-family: "Geist Mono";
  src: url(./geist-mono/GeistMono-Black.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* GEIST MONO ULTRABLACK */
@font-face {
  font-family: "Geist Mono";
  src: url(./geist-mono/GeistMono-UltraBlack.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}
